*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.banner img{
    display: flex;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}


.menu{
    margin-top: 95px;
    z-index: 1;
}
.menu img{
    width: 100%;
    filter: blur(2px);
    height: auto;

}
.menup{ 
    position: absolute;
    width: 278px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    top: 130px;
    
    font-family: 'Playwrite US Modern';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: #f0e4cc 0.7px;
    color: #603A74;
    
}

.menu_frase{
    margin: 26% auto;
    color: #ffffff;
        font-size: 10px;
        font-weight: 900;
    }




    .images{
        position: relative;
        z-index: 2;
        margin-top: -6px;
        border-top: 5px solid #603a74;
        background-image: url(../images/patinhas.png);
        background-size: cover;
        background-repeat: repeat;

        width: 100%;
        height: 550px;
        text-align: center;
        justify-content: center;
        background-color: #f0e4cc;
        img{
            height: 350px;
            margin: 100px 50px;
        }

    }

.titles2{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 30px 0px 30px 0px;
    margin: 0;
    background-color: #f0e4cc;
    gap: 0;
    width: 100%;
    height: 500px;
    .texto2{
        text-align: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 50px 400px;
        padding: 10px 20px;
        height: 80%;
        justify-content: center;
        box-shadow: 1px 1px 10px 2px #603a74;
        border-radius: 20px;
        h1{
            box-sizing: border-box;
            padding: 10px;
            font-size: 35px;
            margin-bottom: 60px;
        }
        p{
            font-size: 20px;
            letter-spacing: 1px;
            word-spacing: 5px;
            text-align: justify;
            box-sizing: border-box;
            padding: 0 10px 10px 10px;
        }
    }
}